*
{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    
}

form label
{
    padding: 1%;
   
    padding-right: 10px;
}

fieldset
{
    padding: 10px;
    margin-top: 5px;
}


#button
{
    margin-left: 30%;
    margin-top: 10px;

}

#button button
{
    margin-left: 15px;
    padding: 10px;
    color:  white;
    background-color: rgb(24, 23, 23);
    border-radius: 6px;
    border: 0px;
    margin-right: 10px;
}

#button button:hover
{
    
    color: red;
    
}

#field
{
    background-color: rgb(236, 185, 117);
}

#primeira_legenda
{
    font-size: 18px;
}

fieldset
{
    background-color: rgb(255, 236, 211)
}
.exigido
{
    color: red;
}

label
{
    margin-left: 30%;
    font-weight: 600;
}

legend
{
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}
.input
{
   
   margin-bottom: 5px;
   margin-left: 30%;
   margin-top: 4px;
   margin-right: 150px;
   padding: 7px;
   border-radius: 5px;
}

.input:hover
{
    font-weight: bolder;
    background-color: rgb(238, 235, 235);
}

::placeholder
{
    text-align: center;
}



.radio1
{
    margin-left: 30%;
}

.sem_margem
{
    margin-left: 0px;
}